# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Jupyter
.ipynb_checkpoints/

# --- Kaggle / Prefect Data ---
data/
logs/
reports/

# Prefect
.prefect/
.orion/

# --- IDE / OS files ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# --- Testing ---
.coverage
htmlcov/
.pytest_cache/

# --- Packaging / Build ---
dist/
build/
